@media (max-width: 600px) and (min-width: 200px){
  .App {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/img/back.jpg");
    background-position: center;
  }
  .wrapper {
    width: 100%;
    /*padding: ;*/
  }
}